.note-section{
    height: 100vh;
    width: 20%;
    background-color: #141414;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.writing-section{
    background-color: #262626;
    height: 100vh;
    width: 80%;
}

*{
    margin: 0;
    padding: 0;
}


.main-div{
    display: flex;
    overflow-x: none
    ;
}



.writing-area-wrapper {
 
  position: relative;
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
  height: 70vh;
  box-sizing: border-box; 
}

.writing-area-wrapper::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99 , #006aff, #ff0095); 
    animation: 3s spin  linear infinite;
    transform: translate(-50%, -50%);
    padding: 3px;    
    filter: blur(1.5em);
}


#writing-area {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #141414;
  border: none;
  resize: none;
  color: gray;
  text-indent: 10px;
  line-height: 25px;
  font-size: 20px;
  background-image: repeating-linear-gradient(
      to bottom,
      #141414,
      #141414 23px,
      #333 23px,
      #333 24px
  );
  background-size: 100% 24px;
  padding: 10px;
  box-sizing: border-box;
}


#writing-area:focus {
  outline: none;        
  box-shadow: none;     
  border: none;       
}


.save-btn{
    background-color: green;
    color: white;
    border: none;
    height: 4vh;
    width: 100px;
    border-radius: 50px;
}

.save-system{
    margin-top: 3%;
    margin-left: 10%;
}

.notes-headline-writing-tag{
    height: 4vh;
    background-color: #141414;
    outline: none;        
    box-shadow: none; 
    color: grey;
    width: 50%;
    margin-right: 20%;    

   
}

.clear-btn{
    background-color: red;
    color: white;
    border: none;
    height: 4vh;
    width: 100px;
    border-radius: 50px;
    margin-right: 3%
}


h1{
    color: grey;
    margin-top: 5%;
    margin-left: 15%;
}

.note-history{
    border: 1px solid gray;
    height: 69vh;
    width: 80%;
    margin-left: 10%;
    margin-top: 27%;
    overflow-y: scroll;
}


.note-div{
    width: 100%;
    height: 8vh;
    background-color: green;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5%;
}


.del-btn{
    border: none;
    background-color: red;
    color: white;
    height: 4vh;
    width: 30%;
    border-radius: 50px;

}



.headline-text{
    color: white;
    margin-left: 2%;
    font-size: 2vh;
    cursor: pointer ;
}



.alert-div{
    width: 40%;
    height: 30vh;
    background-color: #141414;
    border: 1px solid gray;
    color: gray;
    position: absolute; 
    top: 35%;
    left: 35%;
}

.alert-text{
    margin-top: 10%;
    margin-left: 10%;
    font-size: 30px;
}


.hide{
    display: none;
}


.alert-button{
    background-color: red;
    color: white;
    border: none;
    height: 4vh;
    width: 100px;
    border-radius: 50px;
    margin-left: 75%;
    margin-top: 15%;
}


.history-clear-btn{
    border: none;
    background-color: red;
    color: white;
    height: 4vh;
    width: 30%;
    border-radius: 50px;
    margin-left: 15%;
    margin-top: 15%;
}


.del-div{
    width: 40%;
    height: 30vh;
    background-color: #141414;
    border: 1px solid gray;
    color: gray;
    position: absolute; 
    top: 35%;
    left: 35%;
}

.del-text{
    margin-top: 5%;
    margin-left: 10%;
    font-size: 20px;
}



.yes-button{
    border: none;
    background-color: green;
    color: white;
    height: 4vh;
    width: 10%;
    border-radius: 50px;
    position: absolute;
    top: 60%;
    right: 14%;
}

.no-button{
    border: none;
    background-color: red  ;
    color: white;
    height: 4vh;
    width: 10%;
    border-radius: 50px;
    position: absolute;
    top: 60%;
    left: 10%;
}


.opening-note{
  width: 60%;
  right: 10%;
  margin-left: 10%;
  margin-top: 10%;
  height: 73vh;
  position: absolute;
  top: -5%;
  border: gray 1px solid;
  background-color: #141414;
}

.opening-text{
    color: gray;
    margin-top: 5%;
    margin-left: 10%;
    font-size: 20px;

}

/* ! this code was for headline on saved divs but it didnt work so i gave up */
/* .opening-headline{
    margin-top: 5%;
    color: gray;
    width: 80%;
    margin-left: 10%;
    text-align: left;
    border: gray 1px solid;
    height: 4vh;
} */

.opening-close-btn{
    background-color: red;
    color: white;
    border: none;
    height: 4vh;
    width: 100px;
    border-radius: 50px;
    margin-left: 85%;
    margin-top: 50%;
}

::-webkit-scrollbar{
    background-color: #262626;
    border: gray 1px solid ;
}


.log-in-button{
    background-color: #141414;
    border-radius: 50%;
    width: 4%;
    height: 7vh;
    padding: 5px;
    position: absolute  ;
    right: 8%;
    top: 3%;
    outline: none;        
    box-shadow: none;     
    border: none;   
}

.log-in-button img{
    width: 100%;
    height: 100%;
}


.login-btn{
    height: 4vh;
    width: 10%;
    border-radius: 20px;
    color: gray;
    background-color: #141414;
    outline: none;        
    box-shadow: none;     
    border: none; 
}


.sign-btn{
    height: 4vh;
    width: 10%;
    border-radius: 20px;
    color: gray;
    background-color: #141414;
    outline: none;        
    box-shadow: none;     
    border: none; 
}


.icon-wraper-container{
    width: 20%;
    height: 30vh;
    background-color: transparent;
    position: absolute;
    top: 10%;
    right: 2%;
    display: flex;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}


@keyframes spin {
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
    
}









